html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #fc0000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(111, 5, 5);
}

h1
{
  text-align: center;
  font-size: 70px;
  background-color: rgb(201, 12, 12);
  color: white;
  padding: 10px;
  border: 3px solid black;
  margin-top: 40px;
  margin-bottom: 30px;
}

.ListTitle
{
  font-weight: bold;
  padding: 10px;
  background-color: rgb(201, 12, 12);
  color: white;
  border: 2px solid black;
}

button 
{
  margin-bottom: 20px;
  background-color: rgb(201, 12, 12);
  border: 2px solid black;
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
}

button:hover
{
  background-color: rgb(5, 103, 152);
}

/*Home Page Styling*/
#snorlax
{
  height: 400px;
}

.description
{
  font-size: 18px;
  border: 3px solid black;
  padding: 30px;
  border-radius: 30px;
  font-weight: bold;
  background-color: white;
}

#PokemonBuddyLink, #MenuPlannerLink
{
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: rgb(201, 12, 12);
  font-size: 25px;
  border: 2px solid black;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#PokemonBuddyLink:hover, #MenuPlannerLink:hover
{
  background-color: rgb(5, 103, 152);
}

#snorlaxAnimation
{
  border: 2px solid black;
  border-radius: 1000px;
  background-color: white;
}

/*Styling BuddyForm*/
#pokemonFormColumns
{
  display: grid;
  justify-content: center;
}

#pokemonForm
{
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  padding-left: 50px;
  max-width: 400px;
  border-radius: 30px;
}

#pokemonDetails
{
  max-width: 500px;
}

.radioPokemon 
{
  font-size: 25px;
  padding: 5px;
}

.radioPokemon input[type="radio"]
{
  height: 1em;
  width: 1em;
}

.radioPokemon input[type=radio]
{
  accent-color: red;
}


.inputPokemon
{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 18px;
  min-width: 250px;
}

#BuddyFormSubmit
{
  font-size: 20px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  max-width: 200px;
  padding: 10px;
  background-color: rgb(201, 12, 12);
  border: 2px solid black;
  color: white;
}

#BuddyFormSubmit:hover
{
  background-color: rgb(5, 103, 152);
}

/*Buddy Summary page styling*/

#PokemonType
{
  width: 400px;
  text-align: center;
  font-size: 50px;
  color: white;
  margin-left: 30px;
}

#HealthImage
{
  border: 6px solid rgb(201, 12, 12);
  background-color: white;
  width: 400px;
  margin: 30px;
}

#SummaryDetails
{
  margin:auto;
  justify-content: center;
  color: white;
  font-size: 25px;
  min-width: 200px;
}

#SummaryColumns
{
  margin: auto;
  justify-content: center;
}

#WeightLabel
{
  text-align: center;
  background-color: rgb(201, 12, 12);
  color: white;
  font-size: 25px;
  border: 2px solid black;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 20px;
  max-width: 250px;
}

#Weight_to_convert
{
  background-color: white;
  color: black;
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  font-size: 40px;
  margin-bottom: 20px;
  max-width: 250px;
}

ul
{
  font-size: 20px;
  background-color: white;
  border: 2px solid black;
  padding: 15px 45px;
}

.ListButtons
{
  text-align: center;
}
