@{
    ViewData["Title"] = "Buddy Form";
}

<div class="container-fluid text-center">
    <h1>Pick Your Pokemon Buddy</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <form class="row">
            <div class="col-sm-6">
                <div>
                    <input type="checkbox" name="pokemon" value="Mimikyu">
                    <label for="pokemon">Mimikyu</label><br>
                </div>
                <div>
                    <input type="checkbox" name="pokemon" value="Eevee">
                    <label for="pokemon">Eevee</label><br>
                </div>
                <div>
                    <input type="checkbox" name="pokemon" value="Gengar">
                    <label for="pokemon">Gengar</label><br>
                </div>
                <div>
                    <input type="checkbox" name="pokemon" value="Charizard">
                    <label for="pokemon">Charizard</label><br>
                </div>
                <div>
                    <input type="checkbox" name="pokemon" value="Lapras">
                    <label for="pokemon">Lapras</label><br>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <label for="weight">Pokemon's weight (lbs):</label>
                    <input type="number" name="weight"><br>
                </div>
                <div>
                    <label for="allergy">Pokemon's Allergies</label>
                    <select name="allergy">
                        <option value="none">None</option>
                        <option value="nuts">Nuts</option>
                        <option value="berries">Berries</option>
                        <option value="eggs">Eggs</option>
                        <option value="gluten">Gluten</option>
                        <option value="milk">Milk</option>
                    </select>
                </div>
                <div>
                    <label for="food">Favorite Food:</label>
                    <input type="text" name="food"><br>
                </div>
                <div>
                    <label for="nickname">Nickname:</label>
                    <input type="text" name="nickname"><br><br>
                </div>
            </div>
            <button id="BuddyFormSubmit" type="submit">Submit</button>
        </form>
    </div>
</div>
