/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar .navbar-nav
{
  background-color: rgb(201, 12, 12);
  border: 6px solid rgb(238, 206, 27);
}

.nav-item
{
  padding: 5px 30px;
  font-size: 30px;
  color: rgb(238, 206, 27) !important;
  font-weight: 700;
  align-items: left;
  margin: auto;
  text-decoration: none !important;
  display: inline;
}

.nav-item:hover
{
  background-color: rgb(238, 206, 27);
  max-width: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
