@model FinalProject.Models.Week;

@{
    ViewData["Title"] = "Menu Planner";
}

<div class="container-fluid text-center">
    <h1>Weekly Meal Planner</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <a asp-controller="Menu" asp-action="AddToPlanner" id="">Plan A Meal</a>
        </div>
        <div class="col-sm-6">
            <button type="submit">Clear</button>
        </div>
    </div>
</div>



<div class="container-fluid">
    <h2>Monday</h2>
    <table>
        @if(Model != null)
        {
            <div>
                @if(Model.Monday.Breakfast.MealTitle != null)
                {@Model.Monday.Breakfast.MealTitle}
                @if(Model.Monday.Lunch.MealTitle != null)
                {@Model.Monday.Lunch.MealTitle}
                @if(Model.Monday.Dinner != null)
                {@Model.Monday.Dinner.MealTitle}
            </div>
        }
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <h2>Tuesday</h2>
    <table>
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <h2>Wednesday</h2>
    <table>
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <h2>Thursday</h2>
    <table>
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <h2>Friday</h2>
    <table>
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <h2>Saturday</h2>
    <table>
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>

<div class="container-fluid">
    <h2>Sunday</h2>
    <table>
        <tr>
            <th>Meal</th>
            <th>Meal Title</th>
            <th>Guests</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>Breakfast</td>
        </tr>
        <tr>
            <td>Lunch</td>
        </tr>
        <tr>
            <td>Dinner</td>
        </tr>
    </table>
</div>
